:root {
    --desaturatedRed: hsl(0, 36%, 70%);
    --softRed: hsl(0, 93%, 68%);

    --darkGrayishRed: hsl(0, 6%, 24%);

    --gradA1: hsl(0, 0%, 100%);
    --gradA2: hsl(0, 100%, 98%);

    --gradB1: hsl(0, 80%, 86%);
    --gradB2: hsl(0, 74%, 74%);

    --mainFont: 'Josefin Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(135deg, var(--gradA1), var(--gradA2));
    font-family: var(--mainFont);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0;
}  

.main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 6fr;
}

@media (min-width: 768px) {
    .main {
        grid-template-areas:
        'logo img'
        'form img';
        grid-template-columns: 4fr 3fr;
        grid-template-rows: 1fr 4fr;
    }
    
}

.main__logo {
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

.main__logo img {
    width: 10rem;
}


@media (min-width: 768px) {
    .main__logo {
        padding-left: 0;
        width: 70%;
        justify-self: center;
        align-self: center;
    }

    .main__logo img {
        width: 16rem;
    }
}

.main__image {
    background: url(../images/hero-mobile.jpg) no-repeat center center/cover;
    grid-row: 2 / 3;
}

@media (min-width: 768px) {
    .main__image {
        grid-area: img;
        background-image: url(../images/hero-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.main__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .main__form {
        padding-left: 0;
        width: 70%;
        justify-self: center;
        align-self: center;
        padding-left: 3rem;
        align-items: unset;
    }
}

.main__form--title {
    text-transform: uppercase;
    color: var(--darkGrayishRed);
    font-size: 3.8rem;
    width: 10em;
    letter-spacing: 1rem;
    text-align: center;
    justify-self: center;
    margin-bottom: 0;
    margin-top: 5rem;
    
}

.main__form--title span {
    color: var(--desaturatedRed);
    font-weight: 300;
}

@media (min-width: 768px) {
    .main__form--title {
        font-size: 6rem;
        width: 50%;
        margin-top: 0;
        text-align: left;
        letter-spacing: 1.5rem;
        justify-self: unset;
    }
}

.main__form--text {
    font-size: 1.4rem;
    color: var(--desaturatedRed);
    line-height: 2.5rem;
    text-align: center;
    padding: 0 3rem;
}

@media (min-width: 768px) {
    .main__form--text {
        font-size: 1.6rem;
        text-align: left;
        padding: 0;
        padding-right: 30%;
    }
}


/** Form Inputs **/

.input__email {
    border-color: var(--darkGrayishRed);
}

.input__email:invalid {
    border-color: red;
  }